Source: uselessd
Section: admin
Priority: extra
Maintainer: Kirill Shkrogalev <kirilshkrogalev@yandex.ru>
Build-Depends: debhelper (>= 9.0.0), libdbus-1-dev (>=1.4.0), libcap-dev
Build-Depends-Indep: docbook-xsl, xsltproc, libtool, intltool, automake, gperf, autotools-dev, bash-completion
Standards-Version: 3.9.5
Homepage: http://uselessd.darknedgy.net
Vcs-Hg: https://bitbucket.org/Tarnyko/uselessd
Vcs-Browser: https://bitbucket.org/Tarnyko/uselessd/src

Package: uselessd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libuselessd1 (=${version:libuselessd1})
Replaces: systemd, sysvinit, upstart, sysvinit-core, systemd-sysv
Recommends: util-linux, libkmod, libpam, cryptsetup, libaudit, libacl, libattr, libselinux, liblzma, tcpwrappers, libgcrypt, libpython2.7
Breaks: uselessd (<<8), systemd, systemd-sysv
Conflicts: systemd, sysvinit, upstart, sysvinit-core, systemd-sysv
Suggests: uselessd-logind, uselessd-pam, uselessd-cgtop, uselessd-audit, uselessd-acl, uselessd-cgcl, uselessd-kmod, uselessd-sleep, uselessd-plymouth, uselessd-polkit, uselessd-loopback, uselessd-password-agents, uselessd-remount-fs, uselessd-tmpfiles, uselessd-update-utmp, uselessd-xattr, uselessd-delta, uselessd-randomseed
Description: Init system and the system daemon's manager.
 Init system and the system daemon's manager.

Package: uselessd-logind
Conflicts: systemd-logind
Replaces: systemd-logind
Depends: uselessd, ${misc:Depends}
Architecture: any
Description: Login manager for uselessd.

#Package: uselessd-pam
#Depends: uselessd, ${misc:Depends}
#Architecture: any
#Description: PAM manager provided for uselessd.

Package: uselessd-cgtop
Depends: uselessd, ${misc:Depends}
Architecture: i386 amd64 armhf armel
Description: Show top control groups by their resource usage.

Package: libuselessd1
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Architecture: i386 amd64 armhf armel
Description: Common libraries for uselessd packages.

Package: uselessd-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: documentation for uselessd
 Documentation for uselessd

Package: libuselessd-dev
Architecture: any
Section: libdevel
Depends: libuselessd1 (= ${binary:Version}), ${misc:Depends}
Description: Development files for uselessd package

